/*css reset*/
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height:59px;
}
/*navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;

}
#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo {
    margin: 10px 34px;

}
#logo img{
    height: 59px;;
    margin: 3px 6px;
}


#navbar ul{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar ul li{
     list-style: none;
     font-size: 1.3rem;

}
#navbar ul li a{
    
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:rgb(231, 11, 11);
    background-color: white;
}
/*home section*/

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background-image:url("../assests/1-img.png")   ;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left:0px;
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*services section*/

#services{
    margin: 24px;
    display: flex;


}
#services.box{
    border: 2px solid brown;
    padding:104px;
    margin: 3px 6px;
    border-radius: 48px;
    background: gray;
    margin-bottom: 10px;
}

#services.box img{
    height: 160px;
    margin:10px;
    display: block;
    box-sizing: 80px 100px;
    width: 235px;
    
}
#service.box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/*client section*/

#client-section{
    position: relative;
    height: 544px;
}
#client-section::before{
    content: "";
    position: absolute;
    background-image: url("../assests/strawberry-img.png");
    height: 54%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;
}

/*contact section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url("../assests/3-img.png") ;
    
}
#contact box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background:black ;
    color: white;
    padding: 9px 20px;
}

/*utility classes*/
.h-primary{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 3.8rem;
   padding: 12px;

}
.h-secondary{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    padding: 12px;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(218, 113, 113);
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}
.center{
    text-align: center;
}

